*.log

*.ctxt

hs_err_pid*
replay_pid*

.idea/
.vscode/
.vs/
*.iml
*.iws
*.ipr
*.class

logs/
tmp/
target/
build/

data/
*.db
*.mv.db
*.trace.db

application.properties
application.yml
.env

.DS_Store
Thumbs.db

node_modules/

SpeedTypeAPI/src/main/resources/application.properties
